<%= link_to admin_organization_path(organization), class: "flex-none flex flex-col items-baseline text-center mx-6 p-6 border-4 rounded-lg hover:bg-gray-700 hover:text-white" do %>
  <i class="mx-auto fad fa-users-class fa-8x"></i>
  <div class="mx-auto mt-6 text-xl font-bold"><%= organization.display_name %></div>
<% end %>
